.addSection {
    width: fit-content;
    height: 400px;
    overflow-y: scroll;
}

.addSection h1 {
    margin: 15px auto;
}

.addSection .container {
    margin: 15px;
}

.addSection .card {
    margin: 15px;
    border: 1px solid #eee;
    border-radius: 15px;
}

.addSection .card img {
    width: 150px;
    height: 100px;
}